{% extends 'base.html.twig' %}

{% block title %}Fine index{% endblock %}

{% block body %}
    <h1>Fine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>IssuedAt</th>
                <th>Paid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fine in fines %}
            <tr>
                <td>{{ fine.id }}</td>
                <td>{{ fine.amount }}</td>
                <td>{{ fine.issuedAt ? fine.issuedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fine.paid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_fine_show', {'id': fine.id}) }}">show</a>
                    <a href="{{ path('app_fine_edit', {'id': fine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fine_new') }}">Create new</a>
{% endblock %}
