{% extends 'base.html.twig' %}

{% block title %}Fine{% endblock %}

{% block body %}
    <h1>Fine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fine.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ fine.amount }}</td>
            </tr>
            <tr>
                <th>IssuedAt</th>
                <td>{{ fine.issuedAt ? fine.issuedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ fine.paid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fine_index') }}">back to list</a>

    <a href="{{ path('app_fine_edit', {'id': fine.id}) }}">edit</a>

    {{ include('fine/_delete_form.html.twig') }}
{% endblock %}
